@import 'styles/colors';


.container {
  height: 35px;
  width: 35px;
  padding: 6px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.img {
  
  height: 30px;
  z-index: 99999;
}
