@import "styles/colors";

.container {
  margin-bottom: 20px;
}

.imgContainer {
  position: relative;
  overflow: hidden;
  // width: 400px;
  width: 100%;
  // border-radius: 20px;
  max-width: 400px;
}

.img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // background: radial-gradient(#383838, #ffffff00);
  background: linear-gradient(#ffffff00 60%, #383838);
}

.info {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  color: white;
  // width: 100%;
}

.actionBtnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  color: $darkGrey-1;
  margin: 10px 0;
}

.actionBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  color: $darkGrey-1;
  cursor: pointer;
}

.icon {
  width: 24px;
}
