@import "styles/colors";

.container {
  height: 100vh;
}

.header {
  min-height: 70px;
  background-color: $white;
  padding: 14px 24px;
}
.sheetBtn {
    position: absolute;
    bottom: 100px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    background-color: $darkGrey-1;
    padding: 8px;
    border-radius: 2px;

    .subTitle {
        font: 500 16px/16px 'AlpineNewAlps';
        color: $white;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 8px;
  position: absolute;
  top: 400px;
  left: 50%;
    transform: translate(-50%, -50%);
  width: 85%;
  height: 400px;
  background-color: $white;
  z-index: 9000099;

  .modalTitle {
      font: 600 20px/24px 'AlpineNewAlps', sans-serif;
  }

  .modalContent {
    padding:8px;
    flex:1;
    justify-content: center;
    align-items: center;
    gap: 11px;
    display: grid;
    grid-template-columns: 20px 1fr 15px 20px 1fr 15px;
  }
}

.sheetContent {
    height: 100%;
    overflow: scroll;
}