$lightGrey: rgb(242, 242, 242);
$darkGrey: rgb(153, 153, 153);
$darkGrey-1: #363636;

//Color range cars
$darkBlue: rgb(12, 29, 44);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$platinium: rgb(214, 209, 196);

$liquidBlue: rgb(0, 120, 201);
$redMotorSport: rgb(218, 41, 28);

// Shadow
// Shadow
$border-shadow: 0.5px solid rgba(0, 0, 0, 0.08);
$box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
