$lightGrey: rgb(242, 242, 242);
$darkGrey: rgb(153, 153, 153);
$darkGrey-1: #363636;

//Color range cars
$darkBlue: rgb(12, 29, 44);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$platinium: rgb(214, 209, 196);

$liquidBlue: rgb(0, 120, 201);
$redMotorSport: rgb(218, 41, 28);
