@font-face {
  font-family: "AlpineNewAlps";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Alpine New Alps/AlpineNewAlps-Light.ttf")
    format("truetype");
}
@font-face {
  font-family: "AlpineNewAlps";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Alpine New Alps/AlpineNewAlps-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "AlpineNewAlps";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Alpine New Alps/AlpineNewAlps-Semibold.ttf")
    format("truetype");
}
