@import "styles/colors";
.swiper {
  width: 100%;
}

.container {
  min-height: 100vh;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  color: #363636;
}

.mainTitle {
  margin: 20px;
}

@media screen and (min-width: 460px) {
  .slide {
    width: 400px;
  }
}
