@import 'styles/_colors';

    .icon{
        height: 30px;
        width: 30px;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 75px;
    }
    .infoValue {
        font: 700 15px 'AlpineNewAlps', sans-serif;
    }
    .infoMetric{
        font: 600 13px 'AlpineNewAlps', sans-serif;
    }
    .subTitle{
        text-align: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 70px;
        height: 30px;
        word-break: break-word;
        font: 400 12px 'AlpineNewAlps', sans-serif;
        color: $darkGrey;
    }
